body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 650px;
    height: 250px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}