body{
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

form{
    margin: 0 auto;
    width: 700px;
}
.container{
    width: 650px;
    height: 250px;
    margin: 0 auto;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}